<h1>Lista de postagens</h1>

<hr />

<a href="/admin/postagens/add">
  <button class="btn btn-success">Nova Postagem</button>
</a>
<div class="my-3">
  {{!-- {{#each categorias}}
    <div class="card my-2">
      <div class="card-header">
        <h1 class="display-4" style="font-size:20px;">
          {{nome}}
        </h1>
      </div>
      <div class="card-body">
        <p>SLUG: <b><small>{{slug}}</small></b></p>
        <p style="text-align: right;">{{date}}</p>
      </div>
      <div class="card-footer">
        <a href="/admin/categorias/editar/{{_id}}">
          <button class="btn btn-primary">Editar</button>
        </a>
        <a href="/admin/categorias/eliminar/{{_id}}">
          <button class="btn btn-danger">Eliminar</button>
        </a>
      </div>
    </div>
  {{else}}
    <div class="text-center mt-4 text-secondary">
      <p>Nenhuma categoria registada ainda.</p>
    </div>
  {{/each}} --}}
</div>