{{#each erros}}
  <div class="alert alert-danger">
    {{texto}}
  </div>
{{/each}}
<div class="text-center my-3">
  <h4 class="display-4" style="font-size:30px;">Criar Conta</h4>
</div>
<form action="/usuarios/cadastrar" method="POST">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      aria-describedby="emailHelp"
      name="nome"
      placeholder="Seu nome"
      required
      value="{{nome}}"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Endereço de email</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      name="email"
      placeholder="Seu email"
      required
      value="{{email}}"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Senha</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      placeholder="Senha"
      name="senha"
      required
      value="{{senha}}"
    />
  </div>
  <div class="form-group">
    <label for="senha2">Confirmar Senha</label>
    <input
      type="password"
      class="form-control"
      id="senha2"
      placeholder="Confirmar Senha"
      name="senha2"
      required
      value="{{senha2}}"
    />
  </div>
  <div class="d-flex justify-content-center">
    <button type="submit" class="btn btn-primary w-25">Criar Conta</button>
  </div>
</form>